{% extends 'index.html' %}

{% block bodyblock %}
    <div class="container">
        <br>
        <h3 class="content">Add new user to <span style="color:#198b90">dataset</h3>



<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Jan">
  <label for="floatingInput">First Name</label>
</div>

<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Kowalski">
  <label for="floatingInput">Last Name</label>
</div>

<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="scan RFID card">
  <label for="floatingInput">RFID card</label>
</div>

<div class="col-1">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
       
{% endblock  %}